<div class="row">
    <div>
        <h1 class="well well-md col-md-10 col-md-offset-1 text-left">Accomodation</h1>
    </div>
</div>
<div class="col-lg-10 col-lg-offset-1 text-left">
    <h3>LODGING AT <a target="_blank" href="http://www.hotelaurora.ro">HOTEL AURORA</a> **</h3>
    <p>    	
	</p><address>Hotel AURORA, Statiunea MAMAIA, Constanta, Judetul Constanta, 900001 ROMANIA</address>
	<ul>
		<li>
			Reservations can be made by email at rezervari@hotelaurora.ro or by phone at +(40)241 831 044 - Reception or 0040728330473 (Ms. Irina Balau);
		</li>
		<li>
			90 lei/night/room (around 22 euros) double room;
		</li>
		<li>
			30 lei breakfast/person/day (around 7 euros);
		</li>
	</ul>
    <p></p>
</div>
<div class="col-lg-10 col-lg-offset-1 text-left">
    <h3>LODGING AT <a target="_blank" href="http://www.megalos.ro">HOTEL MEGALOS</a> ***</h3>
    <p>    	
	</p><address>155 Mamaia Bd., 900575, Constanta, Romania (across the University)</address>
	<ul>
		<li>
			Reservations can be made by email at hotel@megalos.ro or by phone at +4 0730070112.
		</li>
		<li>
			180 lei/night/room (around 39 euros) double room, one person in the room, breakfast included;			
		</li>
		<li>
			200 lei/night/room (around 43 euros) double room, two persons in the room, breakfast for two persons included.
		</li>
	</ul>
    <p></p>
</div>
<div class="col-lg-10 col-lg-offset-1 text-left">
	<p class="label label-danger">
		*At both hotels, when you make the reservation, please mention "for math conference, Ovidius University"
	</p>
</div>