<div class="row">
    <div>
        <h1 class="well well-md col-md-10 col-md-offset-1 text-left">General Info</h1>
    </div>
</div>
<div class="col-lg-10 col-lg-offset-1 text-left">
    <p>The <a target="_blank" href="http://math.univ-ovidius.ro/RTJL/#/">"Grigore Moisil" Romanian–Turkish Joint Laboratory of Mathematical Research</a> from Faculty of Mathematics and Informatics, Ovidius University, Constanta, in cooperation with the General Consulate of the Republic of Turkey in Constanta (Romania), and Institute of Mathematics of the Romanian Academy (Bucharest) and Galatasaray University of Istanbul (Turkey) and with the kind support of the Le Centre Francophone en Mathématique, Bucharest the Turkish Cultural Center Yunus Emre Constanta organizes
</p><h4 class="text-center">JOURNÉES MATHEMATIQUES RÉGIONALES - THE THIRD ROMANIAN - TURKISH MATHEMATICS COLLOQUIUM</h4>
<p></p>
<p>
The conference will take place at the Faculty of Mathematics and Informatics (Ovidius University, 124 Mamaia Bd., 900527, Constanta, Romania), from <strong>Wednesday, September 18, to Sunday, September 22, 2019</strong>.
</p>
<p class="text-danger">
    <strong>PRELIMINARY REGISTRATION DEADLINE: SEPTEMBER 1st, 2019.</strong>
</p>
<p>
Please send an e-mail message to the organizers, containing the following information:
</p><pre>Name
Affiliation
Section of the Conference
Intention to give a talk
Arriving day
Departure day

EMAILS:
<strong>Denis.Ibadula@univ-ovidius.ro</strong>
<strong>Muhammed.Uludag@gmail.com (for Turkish Participants only)</strong>
</pre>
</div>